<!DOCTYPE html>
<html lang="zh"><!--中文網站-->
<head>
	<meta charset="utf-8">
	<link href="css/CreateDevice.css" type="text/css" rel="stylesheet" />
	<!--for AJAX-->
	<script src="js/main.js"></script>

	<title>CGUIoTWeb</title>
</head>
<body>
	<p class="CreateNewDevice">註冊新的裝置</p>
	<div class="CreateList">
		<input type="text" id="DeviceIP" name="DeviceIP" placeholder="IP"><!--裝置基本資料-->
		<input type="text" id="DeviceMAC" name="DeviceMAC" placeholder="MAC">
		<input type="text" id="DeviceName" name="DeviceName" placeholder="輸入名稱">
		<select id="SelectType" name="SelectType"><!--裝置種類-->
			<option value="Socket">插座</option><!--智慧插座-->
			<option value="Environment">環境</option><!--環境監控-->
			<option value="Light">燈具</option><!--燈具控制-->
			<option value="IRBody">人體</option><!--人體紅外線-->
			<option value="DoorCount">人數</option><!--出入口計數-->
		</select>
		<input type="button" class="CreateButton" value="註冊" onclick=create()>
	</div>
</body>
</html>
