<!DOCTYPE html>
<html lang="zh"><!--中文網站-->
<head>
    <meta charset="utf-8">
    <title>CGUIoTWeb</title>
	<!--<link href="css/CreateDevice.css" type="text/css" rel="stylesheet" />-->
	<!--for AJAX-->
	<!--<script src="js/main.js"></script>-->
    <script src="js/ejs_production.js"></script>
    <script src="js/script.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="#" />

</head>
<body onload=entryload()>
    
<!--<body>-->
    <div id="IndoorPerson">
        <%- include('numberperson'); %><!--室內人數-->
    </div>
    
    <div id="SmarkSocket">
        <%- include('smartsocket'); %><!--智慧插座-->
    </div>

    <div id="light">
        <%- include('light'); %><!--燈具-->
    </div>

    <div id="Environment">
        <%- include('environment'); %><!--環境監控-->
    </div>

</body>
</html>
