<div id="LightDataTable">
    
    <div class="LightData">
        <div class="lighonestatus">
            區域1:
            <div id="readLightOneSTATUS"></div>
        </div>

        <div class="lighttwostatus">
            區域2:
            <div id="readLightTwoSTATUS"></div>
        </div>
        
        <div class="lightthreestatus">
            區域3:
            <div id="readLightThreeSTATUS"></div>
        </div>
        
        <div class="lightfourstatus">
            區域4:
            <div id="readLightFourSTATUS"></div>
        </div>
        
        <div class="lightfivestatus">
            區域5:
            <div id="readLightFiveSTATUS"></div>
        </div>
        
        <div class="lightsixstatus">
            區域6:
            <div id="readLightSixSTATUS"></div>
        </div>
    </div>

</div>