<div class="indoorperson">
    目前室內人數:
    <div id="readNumberPerson">

    </div>
</div>
<input type="button" class="NumberPerson" value="室內人數歷史資料" onclick=readIndoorHistory()>
<div id="readNumberPersonHistory">

</div>
