<div id="PeopleTable">

    <div class="PeopleData">
        <div class="indoorperson">
            
            室內人數:<div id="readNumberPerson"></div>
            人
        </div>
    </div>

    <div class="IndoorPersonDataRequest">
        <input type="button" class="NumberPerson" value="室內人數歷史資料" onclick=readIndoorHistory()>
    </div>

</div>