.SignInNewDeviceName, .DevieIP, .DevieMAC, .DevieName, .SelectType, .SignInButtom{
    font-family: cursive, Arial, sans-serif;
}

.SignInNewDeviceName{
    font-size: 50px;
}

::placeholder{
    color: #a3a3c2;
}
